.tech-sec-one-bg{
    background-image: url('../../../images/techcampus.webp');
    background-size: cover;
    border-bottom: 10px solid #F0D500;
}
.tech-sec-one-bg-content{
    color: white;
    padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
}
.tech-sec-content-head::after{
    content: ' ';
    display: block;
    margin: 5px auto 25px;
    width: 80px;
    height: 2px;
    background: white;
}
.tech-sec-content-head{
    font-weight: bold;
    font-size: 17px;
}
.tech-sec-content-head-content{
    font-size: 55px;
    font-weight: bold;
}
.tech-btn-stl{
    background-image: linear-gradient(to top,#DCAA00,#F0D500);
    border-radius: 116px;
    outline: #DCAA00;
    border-color: #DCAA00 !important;
}
.tech-btn-stl-play{
    background-color: transparent;
    border-radius: 116px;
    outline: unset;
    border-color: unset !important;
    margin-left: 5px;
}
.style-button{
    margin-top: 2em;
}