.tec-sec-home{
    padding-top: 4em;
    padding-bottom: 4em;
}
.tech-sec-six-bg{
    background-image: url('../../../images/rockettechcamp.png');
    background-size: cover;
    /* border-bottom: 10px solid #F0D500; */
}
.tech-sec-six-bg-content{
    color: white;
    padding-top: 8em;
    padding-bottom: 8em;
    text-align: center;
}
.tech-sec-content-head-six::after{
    content: ' ';
    display: block;
    margin: 5px auto 25px;
    margin-top: 30px;
    width: 80px;
    height: 2px;
    background: white;
}
.tech-sec-content-head-six{
    font-weight: bold;
    font-size: 20px;
}
.tech-sec-content-head-six-content{
    font-size: 55px;
    font-weight: bold;
}
.tech-btn-stl-six{
    background-image: linear-gradient(to top,#DCAA00,#F0D500);
    border-radius: 116px;
    outline: #DCAA00;
    border-color: #DCAA00 !important;
}
.style-button-six{
    margin-top: 2em;
}