.card-style{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-btn-style{
   
    background-image: linear-gradient(to top,#CCC,#EBEBEB);
    color: black;
    outline: 0 !important;
    border-color: black !important;
    border-radius: 15px;
}
.card-btn-style:hover{
    border-color: #E2CC00;
    color: black;
    background-image: linear-gradient(to top,#E2CC00,#E2CC00);
}