.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bg-image{
      background-image: url('../../../images/bgimage.jpg');
      height: 90vh;
  }
  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    color: white;
  }

  .leftt {
    position: absolute;
    top: 60%;
    transform: translate(10%, -60%);
    color: white;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #E2CC00 !important;
    border-color: black !important;
}
  .rightt {
    position: absolute;
    top: 60%;
    right: 0;
    transform: translate(-50%, -60%);
    color: white;
  }
  .learn-btn-style{
      background-color: #E2CC00 !important;
      color: white;
      outline: 0 !important;
      border-color: black !important;
      border-radius: 15px;
  }