.tech-sec-four-bg{
    padding-top: 4em;
    padding-bottom: 4em;
}
.box-stl{
    box-shadow: 0 1px 3px rgba(255,255,255,.73), 0 1px 2px rgba(0,0,0,.24);
    background: #8A8D8F;
    color: #fff;
    height: 150px;
    width: 25%;
}
.stats-cards{
    display: flex;
    justify-content: center;
}
.box-content{
    text-align: center;
    font-size: 16px !important;
    padding-top: 32px;
}