
.nav-item-style{
    padding-right: 25px !important;
}
.nav-txt-color{
    color: #1B75BC !important;
}
.dropdown-content {
  background: #BEBEBE;
  padding:0;
  text-align: center;
  display:none;
    width: 100%;
  
  top: 60px;
  left: 0px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  