.tech-sec-five-bg{
    padding-top: 4em;
    padding-bottom: 4em;
}
.container{
    color: unset !important;
    text-align: unset !important;
}
.card--body{
    text-align: initial;
    padding-left: 20px;
}
