.footer{
    background-color:black;
    color: white;
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100%;

}
.ulstl { 
    padding: 0px;
 }
 li {
    float: left;
    width: auto;
    list-style: outside none none;
    margin-right: 10px;
 }