.test-img-style{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}
.test-style{
    display: flex;
}
.test-home-style{
    padding-top: 2em;
    padding-bottom: 2em;
}
.test-list-cont{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-top: 20px;
}
.op-uns{
    opacity: unset;
}
.op-stl{
    opacity: 0.4;
}